<!DOCTYPE html>
<html lang="en">

<head>
    <title>Test Book Generator</title>
    <style>
    * { box-sizing: border-box; }
    body {
    font: 16px Arial; 
    }
    input, button {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
    }
    input[type=submit], button {
    background-color: DodgerBlue;
    color: #fff;
    }
    textarea {
        resize: none;
    }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/223a6e9496.js" crossorigin="anonymous"></script>
</head>

<body>
    <div style="height: 50vh;overflow-y: scroll; border-bottom: 1px solid #999;">
        <table class="table">
            <thead>
                <tr>
                <th scope="col">Time</th>
                <th scope="col">Event</th>
                <th scope="col">Data</th>
                <th style="width: 14px;"></th>
                </tr>
            </thead>
            <tbody id="logTable">
            </tbody>
        </table>
    </div>
    <div style="height: 50vh; overflow-y: scroll;">
        <div class="table-responsive panel">
                <table class="table">
                    <tbody id="detailsBody">
                            <tr>
                                <td class="text-primary">Time</td>
                                <td id="detailsTime"></td>
                            </tr>
                            <tr>
                                <td class="text-primary">Event</td>
                                <td id="detailsEvent"></td>
                            </tr>
                            <tr>
                                <td class="text-primary" style="border-top: 2px solid #bbb;">Data</td>
                                <td style="border-top: 2px solid #bbb; font-style: italic;">[Object]</td>
                            </tr>
                    </tbody>
                </table>
            </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
        window.logData = JSON.parse( '<%-locals.log%>' );

        var logTable = document.getElementById( 'logTable' );
        function addLogItem( item ) {
            var row = document.createElement( 'tr' );

            var time   = document.createElement( 'td' );
            var event  = document.createElement( 'td' );
            var data   = document.createElement( 'td' );
            var button = document.createElement( 'td' );

            var badges = '';
            for( var key of Object.keys( item.params ) ) {
                var value = item.params[ key ];
                if( Array.isArray( value ) ) {
                    value = `[Array:${value.length}]`;
                } else if( typeof value === 'object' ) {
                    value = '[Object]';
                }
                badges += `<span class="badge badge-primary" style="margin-right: 10px; font-size: 14px;">${key}:${value}</span>`
            }

            time  .innerHTML = new Date( item.time ).toLocaleString( 'nl-NL' );
            event .innerHTML = item.event;
            data  .innerHTML = badges;
            button.innerHTML = '<i class="fas fa-ellipsis-h"></i>';
            button.style     = 'cursor: pointer;' ;

            row.appendChild( time   );
            row.appendChild( event  );
            row.appendChild( data   );
            row.appendChild( button );

            logTable.appendChild( row );

            button.onclick = () => detailView( item, row );
        }

        function detailView( item, row ) {
            for( var child of document.getElementById( 'logTable' ).children ) {
                child.style = '';
            }

            row.style = 'background-color: #aed5ff;';


            document.getElementById( 'detailsTime'  ).innerHTML = new Date( item.time ).toLocaleString( 'nl-NL' );
            document.getElementById( 'detailsEvent' ).innerHTML = item.event;

            var body = document.getElementById( 'detailsBody' );

            var children = [ ...body.children ]; 
            for( var i = 0; i < children.length; i++ ) { 
                if( i > 2 ) 
                    body.removeChild( children[ i ] )
            }

            function traverseArray( data, indentLevel = 1 ) {
                for( var i = 0; i < data.length; i++ ) {
                    var value = data[ i ];

                    var row = document.createElement( 'tr' );
                    body.appendChild( row );

                    var indent = '';
                    for( var j = 0; j < indentLevel; j++ ) {
                        indent += '&emsp;';
                    }

                    var formatted = format( value, indentLevel );
                    row.innerHTML = `<tr><td class="text-primary"">${indent}${i}</td><td style="${formatted.italic ? 'font-style: italic;' : ''}">${formatted.value}</td></tr>`;
                }
            }

            function traverseObject( data, indentLevel = 1 ) {
                for( var key of Object.keys( data ) ) {
                    var value = data[ key ];

                    var row = document.createElement( 'tr' );
                    body.appendChild( row );

                    var indent = '';
                    for( var i = 0; i < indentLevel; i++ ) {
                        indent += '&emsp;';
                    }

                    var formatted = format( value, indentLevel );
                    row.innerHTML = `<tr><td class="text-primary">${indent}${key}</td><td style="${formatted.italic ? 'font-style: italic;' : ''}">${formatted.value}</td></tr>`;
                }
            }

            function format( data, indentLevel ) {
                var value  = '[Unknown]';
                var italic = false;

                if( Array.isArray( data ) ) {
                    value  = `[Array:${data.length}]`;
                    italic = true;
                    traverseArray( data, indentLevel + 1 );
                } else if( data == null ) {
                    value  = `[Undefined]`;
                    italic = false;
                } else if( typeof data == 'object' ) {
                    value  = `[Object]`;
                    italic = true;
                    traverseObject( data, indentLevel + 1 );
                } else if( typeof data == 'string' ) {
                    value = data;
                } else if( typeof data == 'number' ) {
                    value = data;
                }

                return { value, italic };
            }

            traverseObject( item.params );
        }

        for( var item of logData ) {
            addLogItem( item );
        }

        if( logData.length > 0 )
            detailView( logData[ 0 ], document.getElementById( 'logTable' ).children[ 0 ] );

        var ws = new WebSocket( `ws://${window.location.host}/progress` );

        ws.onmessage = ( message ) => {
            var data = JSON.parse( message.data );
            if( data.event == 'LOG_MESSAGE' ) {
                window.logData.push( data.data );
                addLogItem( data.data );
            }
        };
    </script>
</body>