<!DOCTYPE html>
<html lang="en">

<head>
    <title>Test Book Generator</title>
    <style>
    * { box-sizing: border-box; }
    body {
    font: 16px Arial; 
    }
    input, button {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
    }
    input[type=submit], button {
    background-color: DodgerBlue;
    color: #fff;
    }
    textarea {
        resize: none;
    }
    </style>
</head>

<body>
    <%if( locals.message != null ) {%>
        <%-locals.message%>
    <%} else {%>
        <form autocomplete="off" style="margin-bottom: 20px; width: 1070px; margin: 20px;" action="/" method="POST">
            <span style="display: block;">Paste test-book to run below.</span>
            <textarea style="height: 200px; overflow-y: scroll; background: none; color: black; cursor: text; width: 100%;" id="testbook" name="testbook"></textarea>
            <input type="submit" id="submitButton">
        </form>
    <%}%>
    <script>
        document.getElementById( 'submitButton' ).onclick = async ( e ) => {
            e.preventDefault();
            var testbook = document.getElementById( 'testbook' ).value;
            await fetch( '/', {
                method: 'POST',
                body  : JSON.stringify( { testbook } ),
                headers: {
                    'Content-Type': 'application/json'
                }
            } );
            window.location.href = '/progress';
        };
    </script>
</body>