<!DOCTYPE html>
<html lang="en">

<head>
    <title>Test Book Generator</title>
    <style>
    * { box-sizing: border-box; }
    body {
    font: 16px Arial; 
    }
    .autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
    }
    input, button {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
    }
    input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
    }
    input[type=submit], button {
    background-color: DodgerBlue;
    color: #fff;
    }
    textarea {
        resize: none;
    }
    .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
    }
    .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4; 
    }
    .autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9; 
    }
    .autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important; 
    color: #ffffff; 
    }
    </style>
</head>

<body>
    <div style="margin-bottom: 20px; display: flex; width: 1070px;">
        <span style="display: flex; flex-direction: column; width: 100%; margin: 0 20px;">
            Test Book
            <select name="Test Book" size="20" id="testBook">
            </select>
        </span>
    </div>
    <span style="margin: 0 0 20px 20px; display: flex; width: 1070px;">Example URI:
        mgmt-bareBones1:http-stresstest/subtest?reqps=10&stresstime=10
    </span>
    <form autocomplete="off">
        <div class="autocomplete" style="width:800px; margin: 0 20px;">
            <input id="myInput" type="text" name="test-URI" placeholder="URI">
        </div>
        <input type="submit" id="submitButton">
        <button id="deleteButton">Delete</button>
        <button id="clearButton">Clear</button>
    </form>
    <div style="margin-top: 20px; display: flex; width: 1070px;">
        <span style="display: flex; flex-direction: column; width: 100%; margin: 0 20px;">
            Output
            <textarea style="height: 200px; overflow-y: scroll; background: none; color: black; cursor: text;" id="outputBox" disabled>
[]</textarea>
        </span>
    </div>
    <script>
        window.serverData = JSON.parse( '<%-locals.serverData%>' );

        var autoCompleteArrays = {
            setups  : window.serverData.setups.map( ( s ) => s.key ),
            tests   : window.serverData.tests .map( ( s ) => s.key ),
        };

        function autocomplete( inp ) {
                /*the autocomplete function takes two arguments,
                the text field element and an array of possible autocompleted values:*/
                var currentFocus;
                /*execute a function when someone writes in the text field:*/
                inp.addEventListener( "input", function( e ) {
                    var a, b, i, val = this.value;
                    /*close any already open lists of autocompleted values*/
                    closeAllLists();

                    var arr = autoCompleteArrays.setups;
                    var newVal = '';
                    for( var i = val.length - 1; i >= 0; i-- ) {
                        if( val[ i ] == '=' ) {
                            arr = [];
                            break;
                        } else if( val[ i ] == '?' || val[ i ] == '&' ) {
                            var parsed = val.substring( 0, i ).split( ':' );
                            if( parsed.length != 2 ) {
                                arr = [];
                                break;
                            }
                            var parsed2 = parsed[ 1 ].split( '?' );
                            if( parsed2.length == 0 ) {
                                arr = [];
                                break;
                            }
                            var test = parsed2[ 0 ];

                            var match = window.serverData.tests.filter( ( t ) => t.key == test );
                            if( match.length != 1 ) {
                                arr = [];
                                break;
                            }
                            arr = match[ 0 ].variables;
                            break;
                        } else if( val[ i ] == '/' ) {
                            var parsed = val.substring( 0, i ).split( ':' );
                            if( parsed.length != 2 ) {
                                arr = [];
                                break;
                            }
                            var parsed2 = parsed[ 1 ].split( '?' );
                            if( parsed2.length == 0 ) {
                                arr = [];
                                break;
                            }
                            var test = parsed2[ 0 ];

                            var match = window.serverData.tests.filter( ( t ) => t.key == test );
                            if( match.length != 1 ) {
                                arr = [];
                                break;
                            }
                            arr = match[ 0 ].subtests;
                            break;
                        } else if( val[ i ] == ':' ) {
                            arr = autoCompleteArrays.tests;
                            break;
                        }
                        newVal = val[ i ] + newVal;
                    }
                    var fullVal = val;
                    a, b, i, val = newVal;

                    currentFocus = -1;
                    /*create a DIV element that will contain the items (values):*/
                    a = document.createElement( "DIV" );
                    a.setAttribute( "id", this.id + "autocomplete-list" );
                    a.setAttribute( "class", "autocomplete-items" );
                    /*append the DIV element as a child of the autocomplete container:*/
                    this.parentNode.appendChild( a );
                    /*for each item in the array...*/
                    for( i = 0; i < arr.length; i++ ) {
                        /*check if the item starts with the same letters as the text field value:*/
                        if( arr[ i ].substr( 0, val.length ).toUpperCase() == val.toUpperCase() ) {
                            /*create a DIV element for each matching element:*/
                            b = document.createElement( "DIV" );
                            /*make the matching letters bold:*/
                            b.innerHTML = "<strong>" + arr[ i ].substr( 0, val.length ) + "</strong>";
                            b.innerHTML += arr[ i ].substr( val.length );
                            /*insert a input field that will hold the current array item's value:*/
                            b.innerHTML += "<input type='hidden' value='" + arr[ i ] + "'>";
                            /*execute a function when someone clicks on the item value (DIV element):*/
                            b.addEventListener( "click", function( e ) {
                                /*insert the value for the autocomplete text field:*/
                                var index = -1;
                                for( var i = fullVal.length - 1; i >= 0; i-- ) {
                                    if( [ '=', '?', '&', ':' ].includes( fullVal[ i ] ) ) {
                                        index = i;
                                        break;
                                    }
                                }
                                inp.value = fullVal.substring( 0, index + 1 ) + this.getElementsByTagName( "input" )[ 0 ].value;
                                /*close the list of autocompleted values,
                                (or any other open lists of autocompleted values:*/
                                closeAllLists();
                            } );
                            a.appendChild( b );
                        }
                    }
                } );
                /*execute a function presses a key on the keyboard:*/
                inp.addEventListener( "keydown", function( e ) {
                    var x = document.getElementById( this.id + "autocomplete-list" );
                    if( x ) x = x.getElementsByTagName( "div" );
                    if( e.keyCode == 40 ) {
                        /*If the arrow DOWN key is pressed,
                        increase the currentFocus variable:*/
                        currentFocus++;
                        /*and and make the current item more visible:*/
                        addActive( x );
                    } else if( e.keyCode == 38 ) { //up
                        /*If the arrow UP key is pressed,
                        decrease the currentFocus variable:*/
                        currentFocus--;
                        /*and and make the current item more visible:*/
                        addActive( x );
                    } else if( e.keyCode == 13 ) {
                        /*If the ENTER key is pressed, prevent the form from being submitted,*/
                        e.preventDefault();
                        if( currentFocus > -1 ) {
                            /*and simulate a click on the "active" item:*/
                            if( x ) x[ currentFocus ].click();
                        }
                    }
                } );
                inp.addEventListener( 'focus', () => {
                    document.getElementById( 'myInput' ).dispatchEvent( new InputEvent( 'input' ) );
                } );
                function addActive( x ) {
                    /*a function to classify an item as "active":*/
                    if( !x ) return false;
                    /*start by removing the "active" class on all items:*/
                    removeActive( x );
                    if( currentFocus >= x.length ) currentFocus = 0;
                    if( currentFocus < 0 ) currentFocus = ( x.length - 1 );
                    /*add class "autocomplete-active":*/
                    x[ currentFocus ].classList.add( "autocomplete-active" );
                }
                function removeActive( x ) {
                    /*a function to remove the "active" class from all autocomplete items:*/
                    for( var i = 0; i < x.length; i++ ) {
                        x[ i ].classList.remove( "autocomplete-active" );
                    }
                }
                function closeAllLists( elmnt ) {
                    /*close all autocomplete lists in the document,
                    except the one passed as an argument:*/
                    var x = document.getElementsByClassName( "autocomplete-items" );
                    for( var i = 0; i < x.length; i++ ) {
                        if( elmnt != x[ i ] && elmnt != inp ) {
                            x[ i ].parentNode.removeChild( x[ i ] );
                        }
                    }
                }
                /*execute a function when someone clicks in the document:*/
                document.addEventListener( "click", function( e ) {
                    closeAllLists( e.target );
                } );
            }
            autocomplete( document.getElementById( "myInput" ) );

            function setOutput() {
                var select = document.getElementById( 'testBook' );
                
                var arr = [];
                for( var option of select.options )
                    arr.push( option.value );
                document.getElementById( 'outputBox' ).value = JSON.stringify( arr, null, 4 );
            }

            document.getElementById( 'submitButton' ).onclick = ( e ) => {
                var value = document.getElementById( "myInput" ).value;

                e.preventDefault();

                if( value == '' || value == null )
                    return;

                var select = document.getElementById( 'testBook' );
                if( select.selectedIndex != -1 ) {
                    select.options[ select.selectedIndex ].value = value;
                    select.options[ select.selectedIndex ].innerHTML = value;

                    document.getElementById( "myInput" ).value = '';
                    select.selectedIndex = -1;
                } else {
                    var opt = document.createElement( "option" );
                    opt.value = value;
                    opt.innerHTML = value;

                    document.getElementById( "myInput" ).value = '';

                    select.appendChild( opt );
                }

                setOutput();
            };

            document.getElementById( 'deleteButton' ).onclick = ( e ) => {
                document.getElementById( "myInput" ).value = '';

                var select = document.getElementById( 'testBook' );
                select.removeChild( select.options[ select.selectedIndex ] );
                
                e.preventDefault();

                setOutput();
            };

            document.getElementById( 'clearButton' ).onclick = ( e ) => {
                document.getElementById( "myInput" ).value = '';
                document.getElementById( 'testBook' ).selectedIndex = -1;

                e.preventDefault();
            };

            document.getElementById( 'testBook' ).onchange = () => {
                var select = document.getElementById( 'testBook' );
                document.getElementById( 'myInput' ).value = select.options[ select.selectedIndex ].value;
            };
    </script>
</body>

</html>